extend layout

block content

  section#content
    include content_header.jade
    // Section
    section.section.full-width-bg.gray-bg
      .row
        .col-lg-9.col-md-9.col-sm-8
          // Accordions
          ul.accordions.toggles
            each items, category in list_items
              // Accordion
              li.accordion
                .accordion-header
                  .accordion-icon
                  h6 #{category}
                .accordion-content
                  ul.accordions
                    each item in items
                      // Accordion
                      li
                        .post-content
                          .post-side-meta
                            .date1
                              span.day #{item.rank}
                          .post-header.post-artcle-header
                            h3
                              a(href=item.link)
                                | #{item.title}
                            .post-meta
                              span
                                | by 
                                a(href='#') #{item.author}
                      // /Accordion
              // /Accordion
            else
              p Empty list!
        include sidebar.jade
    // /Section
