extend layout

block content

  section#content
    include content_header.jade
    // Section
    section.section.full-width-bg.gray-bg
      .row
        .col-lg-12.col-md-12.col-sm-12
          // Single Blog Post
          .blog-post-single.fullwidth-post
            .post-side-meta.animate-onscroll
              .date(style='padding-Top:0')
                span.day #{content.day}
                span.month #{content.month}
                span.year #{content.year}
            h1(style='margin-Top:20px') #{content.title}
            .post-meta.animate-onscroll
              span
                | by 
                a(href='#') admin
            .post-content
              p.animate-onscroll.no-margin-bottom
                | #{content.detail}
              
            // Post Meta Track
            .post-meta-track.animate-onscroll
              table.project-details
                tr
                  td.share-media
                    ul.social-share
                      li Share this:
                      li.facebook
                        a.tooltip-ontop(href='#', title='Facebook')
                          i.icons.icon-facebook
                      li.twitter
                        a.tooltip-ontop(href='#', title='Twitter')
                          i.icons.icon-twitter
                      li.google
                        a.tooltip-ontop(href='#', title='Google Plus')
                          i.icons.icon-gplus
                      li.pinterest
                        a.tooltip-ontop(href='#', title='Pinterest')
                          i.icons.icon-pinterest-3
                      li.email
                        a.tooltip-ontop(href='#', title='Email')
                          i.icons.icon-mail
                  td.tags
                    | Tags: 
                    a(href='#') meeting
                    | , 
                    a(href='#') politics
                    | , 
                    a(href='#') photos
            // /Post Meta Track
            // Pagination
            // /Pagination
            // Post Author
            // /Post Author
            // /Single Blog Post
            // Related Articles
            // /Post Comments
    // /Section
