extend layout

block content
  section#content
    include content_header.jade
    // Section
    section.section.full-width-bg.gray-bg
      .row
        .col-lg-9.col-md-9.col-sm-8.col-lg-push-3.col-md-push-3.col-sm-push-4
          if show_detail_team
            h3.animate-onscroll.no-margin-top #{current_team.team_name}
            #teamInfo.tab
              table.project-details
                tr
                  td(style='width:100px', valign='top', margin='10px')
                    strong 研究方向:
                  td
                    p.animate-onscroll(style='margin-top:0px') #{current_team.team_focus}
                tr
                  td(style='width:100px', valign='top', margin='10px')
                    strong 课题任务:
                  td
                    p.animate-onscroll(style='margin-top:0px') #{current_team.team_work}
                tr
                  td(style='width:100px', valign='top', margin='10px')
                    strong 相关文章:
                  td
                    ul.project-link(style='padding:0px;margin-Left:15px')
                      for article in current_team.team_article_list
                        li
                          a(href=article.ar_link) #{article.ar_title}
          else
            h3.animate-onscroll.no-margin-top #{current_member.member_name}
            #memberInfo.tab
              table.project-details
                tr
                  td(style='width:100px', valign='top', margin='10px')
                    strong 个人简介:
                  td
                    p.animate-onscroll(style='margin-top:0px') #{current_member.member_intro}
                tr
                  td(style='width:100px', valign='top', margin='10px')
                    strong 研究方向:
                  td
                    p.animate-onscroll(style='margin-top:0px') #{current_member.member_focus}
                tr
                  td(style='width:100px', valign='top', margin='10px')
                    strong 研究成果:
                  td
                    p.animate-onscroll(style='margin-top:0px') #{current_member.member_work}
        // Sidebar
        .col-lg-3.col-md-3.col-sm-4.col-lg-pull-9.col-md-pull-9.col-sm-pull-8.sidebar
          h3(style='margin-top:0')
            a(href=main_team.team_link) 主要负责团队
          // Accordions
          .tab-header
            ul
              for member in main_team.team_members
                li
                  a(href=member.member_link)
                    h6= member.member_name
          h3(style='margin-top:20px') 参与团队
          // Accordions
          ul.accordions
            // Accordion
            for team in other_teams
              li.accordion
                .accordion-header
                  .accordion-icon
                  h6
                    a(href=team.team_link) #{team.team_name}
                .accordion-content
                  .tab-header
                    ul
                      for member in team.team_members
                        li
                          a(href=member.member_link)
                            h6= member.member_name
            // /Accordion
          .social-media.animate-onscroll
            span.small-caption Get connected:
            ul.social-icons
              li.facebook
                a.tooltip-ontop(href='#', title='Facebook')
                  i.icons.icon-facebook
              li.twitter
                a.tooltip-ontop(href='#', title='Twitter')
                  i.icons.icon-twitter
              li.google
                a.tooltip-ontop(href='#', title='Google Plus')
                  i.icons.icon-gplus
              li.youtube
                a.tooltip-ontop(href='#', title='Youtube')
                  i.icons.icon-youtube-1
              li.flickr
                a.tooltip-ontop(href='#', title='Flickr')
                  i.icons.icon-flickr-4
              li.email
                a.tooltip-ontop(href='#', title='Email')
                  i.icons.icon-mail
            ul.social-buttons
              li
              li.facebook-share
                .fb-share-button(data-href='https://developers.facebook.com/docs/plugins/', data-type='button_count')
          // Featured Video
        // /Sidebar
    // /Section
